@use "../../styles/colors" as *;

.checklist-type {
  &__units-cell {
    display: flex;
    align-items: center;
  }

  &__units-icon {
    color: $primary-main;

    .MuiSvgIcon-root {
      color: $primary-main !important;
    }

    &:hover {
      background: rgba($primary-main, 0.1);
    }

    [data-theme="dark"] & {
      color: $secondary-main;

      .MuiSvgIcon-root {
        color: $secondary-main !important;
      }

      &:hover {
        background: rgba($secondary-main, 0.12);
      }
    }
  }
}
